.redeemImg {
  width: 93px;
  height: 87px;
}

.redeem-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 0;
}
.redeem-wrapper p {
  font-size: 21px;
}
